.appContainer {
  max-width: 95vw; 
  height: 95vh;
  margin: 20px auto;
  background-color: azure;
  /* background-image: url(./logo.svg); */
}

.weatherPanel {
  color: gainsboro;
}

.xBtn {
  float: right;
}

.infoTable {
  font-size: larger;
  width: 100%;
  height: 100px;
}

.refreshIcon {
  font-size: 75px;
}

.cityTitle {
  font-size: 20px;
}

.lighSelect {
  text-decoration: none;
  color: salmon;
  word-spacing: 25px;
}

.lighSelect:hover {
  color: darkgreen;
}